.content{
    display: flex;
    justify-self: center;
    gap: 20px;
}
.checkout-info{
    width: 250px;
    height: 250px;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 10px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.5;
}
#checkout-btn{
    background-color: aquamarine;
    width: 100px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    margin-top: 30px;
    justify-self: center;
    border-radius: 10px;
}