.footer{
    height: 50%;
    display: flex;
    color: black;
    margin-top: 50px;
    padding-bottom: 10px;
    background-color: aquamarine;
}
.information{
    width: 70%;
    margin: 10px 0px;
    font-size: 20px;
}
.information>ul{
    list-style: none;
    margin-top: 25px;
    line-height: 1.5;
    text-align: justify;
}
.information>ul>li{
    margin-top: 10px;
}
.contact{
    margin-top: 20px;
    font-size: 20px;
}
.contact>ul>li{
    list-style: none;
    margin-top: 25px;
}

@media screen and (max-width:1000px){
    .footer{
        display: block;
        padding: 10px;
    }
    .contact, .information{
        width: 100%;
        font-size: 15px;
    }
    .information>ul{
        margin-right: 30px;
    }
    
}
